    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{eat}}">
		{{#if eat}}EAT TIME!{{else}}ORDER UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DEVOUR!</button>
</li>
